{% extends 'base.html' %}
{% block body %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
<div class="fieldWrapper form-group">
    {{ form.numero.errors }}
    <label for="{{ form.numero.id_for_label }}">Número do Ofício:</label>
    {{ form.numero }}
</div>
<div class="fieldWrapper form-group">
    {{ form.data.errors }}
    <label for="{{ form.data.id_for_label }}">Data:</label>
    {{ form.data }}
</div>
<div class="fieldWrapper form-group">
    {{ form.para.errors }}
    <label for="{{ form.para.id_for_label }}">Para:</label>
    {{ form.para }}
</div>
<div class="fieldWrapper form-group">
    {{ form.cargo_para.errors }}
    <label for="{{ form.cargo_para.id_for_label }}">Cargo Para:</label>
    {{ form.cargo_para }}
</div>
<div class="fieldWrapper form-group">
    {{ form.assunto.errors }}
    <label for="{{ form.assunto.id_for_label }}">Assunto:</label>
    {{ form.assunto }}
</div>
<div class="fieldWrapper form-group">
    {{ form.texto.errors }}
    <label for="{{ form.texto.id_for_label }}">Texto:</label>
    {{ form.texto }}
</div>

    <button class="btn btn-group btn-primary" type="submit">Salvar</button>
<a href="/oficio/">Voltar para a listagem</a>

</form>
{% endblock %}