{% extends 'base.html' %}
{% block body %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
<div class="fieldWrapper form-group">
    {% if form.numero.errors %}
        {% for error in form.numero.errors %}
        <p class="alert alert-danger"><strong>{{ error|escape }}</strong></p>
    {% endfor %}
    {% endif %}
    <label for="{{ form.numero.id_for_label }}">Número do Ofício:</label>
    {{ form.numero }}
</div>
<div class="fieldWrapper form-group">
    {% if form.data.errors %}
        {% for error in form.data.errors %}
        <p class="alert alert-danger"><strong>{{ error|escape }}</strong></p>
    {% endfor %}
    {% endif %}
    <label for="{{ form.data.id_for_label }}">Data:</label>
    {{ form.data }}
</div>
<div class="fieldWrapper form-group">
    {% if form.para.errors %}
        {% for error in form.para.errors %}
        <p class="alert alert-danger"><strong>{{ error|escape }}</strong></p>
    {% endfor %}
    {% endif %}
    <label for="{{ form.para.id_for_label }}">Para:</label>
    {{ form.para }}
</div>
<div class="fieldWrapper form-group">
    {% if form.cargo_para.errors %}
        {% for error in form.cargo_para.errors %}
        <p class="alert alert-danger"><strong>{{ error|escape }}</strong></p>
    {% endfor %}
    {% endif %}
    <label for="{{ form.cargo_para.id_for_label }}">Cargo Para:</label>
    {{ form.cargo_para }}
</div>
<div class="fieldWrapper form-group">
    {% if form.assunto.errors %}
        {% for error in form.assunto.errors %}
        <p class="alert alert-danger"><strong>{{ error|escape }}</strong></p>
    {% endfor %}
    {% endif %}
    <label for="{{ form.assunto.id_for_label }}">Assunto:</label>
    {{ form.assunto }}
</div>
<div class="fieldWrapper form-group">
    {% if form.texto.errors %}
        {% for error in form.texto.errors %}
        <p class="alert alert-danger"><strong>{{ error|escape }}</strong></p>
    {% endfor %}
    {% endif %}
    <label for="{{ form.texto.id_for_label }}">Texto:</label>
    {{ form.texto }}
</div>

    <button class="btn btn-group btn-primary" type="submit">Salvar</button>
<a href="/oficio/">Voltar para a listagem</a>

</form>
{% endblock %}