{% extends 'base.html' %}

<li class="nav-item active">
    <a class="nav-link" href="/detalhes/{{ item.numero }}/pdf/">Baixar PDF <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="/detalhes/{{ item.numero }}/">Editar <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="/delete/{{ item.numero }}/">Deletar <span class="sr-only">(current)</span></a>
</li>

{% block body %}

<style>
img {
    width: 200px;
    position: absolute;
    top: 56px;
}
#header_content h1{
    font-size: 14pt;
    text-align: center;
}
p{
    font-size: 12pt;
}
.data{
    text-align: right;
}
#footer_content{
    text-align: center;
    font-size: 11pt;
}
.justificar{
    text-align: justify;
}
.centralizar{
    text-align: center;
}
#footer_content{
    position: absolute;
    bottom: 0px;
    width: 1140px;
}
.centralizar{
    bottom: 60px;
    width: 1140px;
    position:absolute;
}
</style>
</head>


    <!-- Content for Static Frame 'header_frame' -->

    <div id="imagem">
        <img src="{{ item.orgao.logo.url }}"/>
    </div>
    <div id="header_content">
        <h1>{{ item.orgao.nome }}<br>
            {{ item.responsavel.setor.nome }}<br>
            {{ converter }}</h1>
    </div>

    <!-- Content for Static Frame 'footer_frame' -->
    <div id="footer_content">
        {{ item.responsavel.setor.endereco }}<br>
        E-Mail: {{ item.responsavel.usuario.email }}
    </div>

    <!-- HTML Content -->
    <p class="data" id="data">{{ item.data.date }}</p>
    <p id="numero">Ofício nº {{ item.numero|stringformat:".3d" }}/{{ item.data.year }}</p>
    <p id="dadospara">Srº {{ item.para }}<br>
    {{ item.cargo_para }}</p>
    <p id="assunto">Assunto: {{ item.assunto }}</p>
    {% autoescape on %}
    <p class="justificar">{{ item.texto|linebreaksbr }}{{ BASE_DIR }}</p>
    <p class="centralizar" id="assinatura"><b>{{ item.responsavel.usuario.get_full_name }}</b><br>{{ item.responsavel.cargo.nome }}</p>
{% endautoescape %}
</body>
</html>
{% endblock %}