{% extends 'base.html' %}
{% block menu %}
<li class="nav-item active">
    <a class="nav-link" href="/detalhes/{{ item.id }}/pdf/">Baixar PDF <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="/detalhes/{{ item.id }}/">Editar <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="/delete/{{ item.id }}/">Deletar <span class="sr-only">(current)</span></a>
</li>
{% endblock %}
{% block body %}

<style>
#imagem{
    align-content: center;
}
img {
    width: 200px;
    top: 56px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#header_content h1{
    font-size: 11pt;
    text-align: center;
}
p{
    font-size: 12pt;
}
.data{
    text-align: right;
}
#footer_content{
    text-align: center;
    font-size: 12pt;
}
.justificar{
    text-align: justify;
}
.centralizar{
    text-align: center;
}
.texto p{
    text-indent: 3em;
    text-align: justify;
}
.assinatura{
    text-align: center;
}
</style>
</head>


    <!-- Content for Static Frame 'header_frame' -->

    <div id="imagem">
        <img src="{{ item.responsavel.setor.orgao.logo.url }}"/>
    </div>
    <div id="header_content">
        <h1><b>{{ item.responsavel.setor.orgao|upper }}<br>
            {{ item.responsavel.setor.nome|upper }}<br>
            {{ converter }}</b></h1>
    </div>

    <!-- Content for Static Frame 'footer_frame' -->


    <!-- HTML Content -->
    <p class="data" id="data">{{ item.responsavel.setor.orgao.cidade }}, {{ item.data.date }}</p>
    <p id="numero">Ofício nº {{ item.numero|stringformat:".3d" }}/{{ item.data.year }}</p>
    <p id="dadospara">{{ item.tratamento }} {{ item.para }}<br>
    {{ item.cargo_para }}</p>
    <p id="assunto">Assunto: {{ item.assunto }}</p>
    {% autoescape on %}
    <div class="texto">
        {{ item.texto|linebreaksbr }}{{ BASE_DIR }}
    </div>
    <p class="centralizar" id="assinatura"><b>{{ item.responsavel.usuario.get_full_name }}</b><br>{{ item.responsavel.cargo.nome }}
    </p>
        <p class="assinatura">
        {{ item.responsavel.setor.endereco }}<br>
        E-Mail: {{ item.responsavel.usuario.email }}
        </p>
{% endautoescape %}
</body>
</html>
{% endblock %}